{% extends 'layouts/layout.twig' %}

{% block content %}

    <h1 style="font-size:3em; text-align: center;">MVC FRAMEWORK WITH IoC CONTAINER and Query Builder</h1>

    <ul class="collection" style="text-align: center;">
        {% for post in posts %}
        	<li>
                <span class="title">{{ post }}</span>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
